.view-registrants-container {
    max-width: 95vw;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.table {
    margin-top: 20px;
}

.btn {
    min-width: 80px;
}
.view-registrants {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.view-registrants .back-arrow,.view-registrants .download-icon {
    color: #007bff;
}

.view-registrants h1 {
    flex-grow: 1;
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.view-registrants .table {
    margin-top: 20px;
    border: black solid 1px;
}