.events-container {
    width: 80%;
    margin: 0 auto;
}

.card-header {
    background-color: #fff;
    border-bottom: none;
}

.card-title {
    margin-bottom: 0;
    font-size: 1.25rem;
}

.card-text {
    margin-bottom: 0.5rem;
}

.card-img-top {
    height: 150px;
    object-fit: contain; /* Ensure the logo fits well */
    padding: 10px; /* Add padding to give some space around the logo */
    background-color: #f8f9fa; /* Optional: Add a background color to the image area */
}

.button-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 10px auto; /* Center the container */
}

.info-button, .join-button {
    flex: 1; /* Make the buttons take up equal space */
    margin: 0 5px; /* Add some space between the buttons */
    padding: 10px;
    cursor: pointer;
}

.info-button {
    background-color: var(--color-accent);
    border: none;
    color: white;
}

.join-button {
    background-color: var(--color-success);
    border: none;
    color: white;
}

.event-card {
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-details {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-top: 1px solid #ddd;
    max-height: 0; /* Start with a max height of 0 */
    overflow: hidden; /* Hide overflowing content */
    opacity: 0; /* Start with an opacity of 0 */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Animate max height and opacity */
}

.event-details.show {
    max-height: 200px; /* Set the max height to the height of the content */
    opacity: 1; /* Set the opacity to 1 */
}
