.manage-base-container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.MainDiv {
    /*margin: 20px;*/
}

.edit-event-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.event-edit {
    width: 100%;
}

.view-events {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.event-details-name-date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.event-buttons-delete {
    position: absolute;
    height: 60px;
    width: 90px;
    right: 5px;
}

.event-buttons-edit-delete-view {
    width: 100%;
    display: flex;
    height: 60px;
}

.event-buttons-edit-delete-view button {
    border-radius: 5px;
    font-size: 0.88rem;
    cursor: pointer;
    transition: all 0.3s;
    word-break: break-word;
}

.view-registrants-btn {
    word-break: break-word;
    width: 100px;
    padding: 10px;
}
