/* Profile Page Container */
.profile-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Profile Container */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative; /* Positioning context for the cam icon */
}

.profile-pic-container {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid white;
    box-shadow: 5px 5px 12px rgba(255, 0, 0, 0.82);
    margin-bottom: -20px;
    position: relative; /* Ensure positioning context is maintained */
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.cam-icon-btn {
    position: relative;
    transform: translate(-50px, -30%);
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
}

.cam-icon-btn img {
    width: 24px;
    height: 24px;
}

.profile-info-container,
.registered-container {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.profile-info-container {
    background-color: rgba(179, 211, 55, 0.86);
    margin-top: -75px; /* Pulls the info box slightly upwards */
}

.profile-info {
    padding: 0;
    margin-top: 50px;
}

.user-header {
    font-size: 1.25rem;
    color: var(--color-dark);
}

.profile-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.profile-info p {
    margin-bottom: 5px;
    color: var(--color-dark);
}

.edit-profile-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--color-highlight);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Registered Events */
.registered-container {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.registered-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.registered-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

.registered-item-content {
    flex-grow: 1; /* Take up the remaining space */
}

.registered-item-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.expand-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
