/* Profile.css */

.profile-page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-container {
    margin-bottom: 20px; /* Separate profile container from events container */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details {
    display: flex;
    align-items: center;
}

.profile-pic-container {
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 20px;
    padding: 7px;
    border: 3px solid black; /* Add a black border around the profile picture */
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-info {
    flex: 1; /* Take up remaining space */
    text-align: left;
}

.profile-info h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.profile-info p {
    margin-bottom: 5px;
    color: black;
}

.edit-profile-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f04e45; /* Example background color */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

/* Profile Events container */
.profile-events-container {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Limit height initially */
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-top: 20px;
}

.profile-events-container.expanded {
    max-height: 600px; /* Expand to fit more content */
    overflow-y: auto; /* Enable scrolling */
}

.profile-events-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-event-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.profile-expand-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f04e45;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
