/*:root {
    --color-primary: #ffd206; !* Main accent color *!
    --color-secondary: #faaa39; !* Secondary accent color *!
    --color-dark: #5a5859; !* Dark color *!
    --color-light: #b3d337; !* Light color *!
    --color-highlight: #ed0a79; !* Highlight color *!
    --color-info: #4673bd; !* Info color *!
    --color-success: #38b54a; !* Success color *!
    --color-warning: #f15a22; !* Warning color *!
    --color-accent: #07acaf; !* Accent color *!
    --color-muted: #af53a0; !* Muted color *!
}*/
:root {
    --color-primary: #ffd206; /* Main accent color */
    --color-secondary: #faaa39; /* Secondary accent color */
    --color-dark: #5a5859; /* Dark color */
    --color-light: #b3d337; /* Light color */
    --color-highlight: #ed0a79; /* Highlight color */
    --color-info: #4673bd; /* Info color */
    --color-success: #38b54a; /* Success color */
    --color-warning: #f15a22; /* Warning color */
    --color-accent: #07acaf; /* Accent color */
    --color-muted: #af53a0; /* Muted color */
}

